* {
  margin: 5px;
}

.img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.ul-repo {
  margin: 10px;
}

.li-repo {
  margin: 10px;
  border: 2px solid black;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
}

.loading,
.error {
  background-color: red;
  width: 350px;
  padding: 8px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}
